<section class="call_to_action">

</section>
<section class="features_teasers_wrapper">
  <div class="row">
    <div class="feature_teaser col-sm-4 col-md-4"><img alt="responsive" src="images/cataloghi.gif">

      <h3>Cataloghi Scaricabili</h3>

      <p> A testimonianza delle <b>numerose iniziative</b> portate avanti in questi anni, siamo orgogliosi di farvi
        scaricare alcuni dei cataloghi prodotti.</p>
    </div>
    <div class="feature_teaser col-sm-4 col-md-4"><img alt="responsive" src="images/speciali.gif">

      <h3>Speciali</h3>

      <p>Ovvero tutto il <b>materiale raccolto</b> in occasione di mostre, spettacoli, eventi.</p>
    </div>
    <div class="feature_teaser col-sm-4 col-md-4"><img alt="responsive" src="images/sculture.gif">

      <h3>Sculture</h3>

      <p>A testimonianza delle numerose iniziative portate avanti in questi anni, siamo orgogliosi di farvi scaricare
        alcuni dei cataloghi prodotti.</p>
    </div>
  </div>
  <div class="row">
    <div class="feature_teaser col-sm-4 col-md-4"><img alt="responsive" src="images/blog.png">

      <h3>Pietraia Live</h3>

      <p>Il Blog della Pietraia dei Poeti. "..approfondiremo tutti gli eventi..andando a ficcare il naso nei backstage e
        intervistando i protagonisti...".</p>
    </div>
    <div class="feature_teaser col-sm-4 col-md-4"><img alt="responsive" src="images/facebook-Instagram.png">

      <h3>Su Facebook e Instagram</h3>

      <p>Il nostro spazio su Facebook e Instagram.</p>
    </div>
    <div class="feature_teaser col-sm-4 col-md-4"><img alt="responsive" src="images/tattili.gif">

      <h3>Percorso Tattile</h3>

      <p>Ovvero tutto il materiale raccolto in occasione di mostre, spettacoli, eventi.entra.</p>
    </div>
  </div>
</section>
<section class="portfolio_teasers_wrapper">
  <h2 class="section_header fancy centered">Le ultime Notizie
    <small>iniziative, concorsi, eventi</small>
  </h2>
  <div class="portfolio_strict row">
    <div class="col-sm-4 col-md-4">
      <div class="portfolio_item wow animated flipInX"><a href="portfolio_item.html"
                                                          data-path-hover="M 180,190 0,158 0,0 180,0 z">
        <figure style="background-image:url(images/portfolio/p4.jpg)">
          <svg viewBox="0 0 180 320" preserveAspectRatio="none">
            <path d="M 180,0 0,0 0,0 180,0 z"/>
          </svg>
          <figcaption>
            <p>Description of the project dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut
              fermentum....</p>

            <div class="view_button">View</div>
          </figcaption>
        </figure>
      </a>

        <div class="portfolio_description">
          <h3><a href="portfolio_item.html">The {Pietraia}start Project</a></h3>

          <p>Design</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="portfolio_item wow animated flipInX"><a href="portfolio_item.html"
                                                          data-path-hover="M 180,190 0,158 0,0 180,0 z">
        <figure style="background-image:url(images/portfolio/a5.jpg)">
          <svg viewBox="0 0 180 320" preserveAspectRatio="none">
            <path d="M 180,0 0,0 0,0 180,0 z"/>
          </svg>
          <figcaption>
            <p>Description of the project dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut
              fermentum....</p>

            <div class="view_button">View</div>
          </figcaption>
        </figure>
      </a>

        <div class="portfolio_description">
          <h3><a href="portfolio_item.html">Colorfull iOS Apps</a></h3>

          <p>Development</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="portfolio_item wow animated flipInX"><a href="portfolio_item.html"
                                                          data-path-hover="M 180,190 0,158 0,0 180,0 z">
        <figure style="background-image:url(images/portfolio/p1.jpg)">
          <svg viewBox="0 0 180 320" preserveAspectRatio="none">
            <path d="M 180,0 0,0 0,0 180,0 z"/>
          </svg>
          <figcaption>
            <p>Description of the project dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut
              fermentum....</p>

            <div class="view_button">View</div>
          </figcaption>
        </figure>
      </a>

        <div class="portfolio_description">
          <h3><a href="portfolio_item.html">POETIC Magazine</a></h3>

          <p>Illustrations</p>
        </div>
      </div>
    </div>
  </div>
</section>
