<footer>
  <section class="twitter_feed_wrapper">
    <div class="container">
      <div class="row">
        <div class="twitter_feed_icon col-sm-1 col-md-1"><img src="/images/e235.jpg" alt="Marcello Sgattoni"></div>
        <div class="col-sm-11 col-md-11">
          <blockquote>
            <p>Chiedo anzitutto scusa per avervi costretti a salire su questa impervia collina, ma in me c'è la speranza
              che nel discenderne sarete diversi da come eravate prima di venirmi a trovare.</p>
            — <a href=http://www.pietraiadeipoeti.it/page.php/scheda?id=32">Marcello Sgattoni</a>
          </blockquote>
        </div>
      </div>
    </div>
  </section>
  <section id="footer_teasers_wrapper">
    <div class="container">
      <div class="row">
        <div class="footer_teaser col-sm-4 col-md-4">
          <h3>Chi siamo</h3>

          <p>Museo Pietraia dei Poeti</p>

          <p><i class="fa fa-map-marker"></i> 63074 - C.da Barattelle - San Benedetto del Tronto - AP - Italia</p>

          <p>Fondazione Pietraia dei Poeti</p>

          <p><i class="fa fa-map-marker"></i> 63074 - Via San Martino,28 - San Benedetto del Tronto - C.F. e P.IVA:
            01910130440

          <p><i class="fa fa-phone"></i> (+39) 338-8771658</p>

          <p><i class="fa fa-envelope"></i> info@pietraiadeipoeti.it</p>
        </div>
        <div class="footer_teaser col-sm-4 col-md-4">
          <h3>Ultime notizie</h3>

          <ul class="media-list" ng-controller="LatestNewsController">
            <li ng-repeat="p in news" class="media"><a href="#/news/{{p.id}}" class="media-photo"
                                                       style="background-image:url(images/portfolio/t5.jpg)"></a>
              <a href="#/news/{{p.id}}" class="media-date"><span>{{p.data *1000 | date:'dd/MM/yyyy'}}</span></a>
              <h5 class="media-heading"><a href="#/news/{{p.id}}">{{p.oggetto}}...</a></h5>

              <p><span ng-bind-html="p.testo  | htmlToPlaintext | limitTo:100 "></span>...</p>
            </li>
          </ul>
        </div>
        <div class="footer_teaser col-sm-4 col-md-4" id="latest-flickr-images">
          <h3>FlickrFeed</h3>
          <ul></ul>
          <p>All photos © by <a href="http://www.dimitragiannouka.com" target="_blank">Dimitra Giannouka</a>.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-6"> Museo Pietraia dei Poeti - C.F. e P.IVA: 01910130440</div>
        <div class="text-right col-sm-6 col-md-6"> San Benedetto del Tronto (AP)</div>
      </div>
    </div>
  </section>
</footer>
