<div ng-include="'/templates/intro.html'"></div>
<section>
  <div class="row">
    <div id="leftcol" class="col-sm-8 col-md-8">
      <table ng-table="tableParams" template-pagination="custom/pager" template-header="">
        <tbody ng-repeat="p in $data">
        <tr id="tr{{p.id}}" ng-class-odd="'odd'" ng-class-even="'even'">
          <td class="rowTd">
            <article class="post">
              <div class="post_header">
                <h3 class="post_title"><a href="/#/{{sectionPath[0]}}/{{p.id}}">{{p.oggetto}}</a></h3>

                <div class="post_sub"><i class="fa-time"></i> {{p.data*1000 | date:'dd/MM/yyyy'}}
                  <!-- <a href="single_post.html#post_comments"><i
                  class="fa-comments-alt"></i> 6 comments</a>-->
                </div>
              </div>
              <div class="post_content">
                <figure ng-show="p.immagini.length >0">
                  <a href="/#/{{sectionPath[0]}}/{{p.id}}">
                    <img alt="0" ng-src="http://pietraiadeipoeti.it/images/{{p.immagini[0].foto}}" />
                    </a>
                </figure>
                <p><span ng-bind-html=" p.testo | htmlToPlaintext | limitTo:250"></span>...</p>
                    <a href="/#/{{sectionPath[0]}}/{{p.id}}" class="btn btn-primary">continua...</a>
              </div>
            </article>

          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div id="sidebar" class="col-sm-4 col-md-4">
      <aside class="widget">
        <h4>Ricerca</h4>

        <p></p>
        <input type="text" name="name" ng-model="search.obj.oggetto" class="span10 form-control">
        <br/>
        <button type="button" class="btn btn-primary" ng-click="reload()">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"> Cerca</span>
        </button>
      </aside>
    </div>
</section>
